[Unit]
Description=Logging of network interface traffic
[Service]
Type=forking
ExecStart=/usr/bin/tcplogger start
ExecStop=/usr/bin/tcplogger stop
Restart=on-abnormal
